/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --pixel-font-size: 14px;
    --main-font-size: 18px;
    --pixel-font:'PressStart2P', Arial, sans-serif;
    --main-font: 'Inter-Variable', Arial, sans-serif;
    --main-font-regular: 'Inter-Regular', Arial, sans-serif;
    --main-font-bold: 'Inter-Bold', Arial, sans-serif;
    --background-image: url(../images/cover.png);
    --button__text-color: #fff;
    --contour-color: black;
    --animation-fill-color: #FF0000;
}